* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}
main {
    padding: 0;
}
figure {
    margin: 0;
}
button {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
select {
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}
input {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
        font-family: inherit;
    }
}