//Color Pallete
$clr-pale-blue: #59b3bd;
$clr-light-blue: #0a6493;
$clr-med-blue: #00496e;
$clr-dark-blue: #1d437f;
$clr-bgc: #00132c;
$clr-border: #1c6881;

//Breakpoints
$break-wide: 1200px;
$break-normal: 900px;
$break-narrow: 600px;
$break-mobile: 400px;